body {
    background-color: burlywood;
    min-height: 100vh;
    font-family: 'Fira Code', monospace;
}

.hidden {
    /*display: none;*/
}

.is-one-third {
    justify-content: center;
}

header {
    font-family: 'Audiowide', cursive;
    color: brown;
    padding-bottom: 10px;
    padding-top: 10px;
}

#Result1 {
    color: brown;
}

#Result2 {
    color: orangered;
}

#Result3 {
    color: yellow;
}

#Result4 {
    color: green;
}

#Result5 {
    color: black;
}

#recent p {
    color: brown;
    font-weight: 700;
}