:root {
    --result1bg: rgb(127, 31, 31);
    --result2bg: rgb(161, 80, 50);
    --result3bg: rgb(163, 127, 28);
    --result4bg: rgb(37, 95, 37);
    --result5bg: rgb(25, 25, 102);
    --resultText: white;
}

* {
    cursor: url(https://cur.cursors-4u.net/others/oth-3/oth223.cur), auto !important;
}

body {
    min-height: 100vh;
    font-family: 'Fira Code', monospace;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url("../images/tile_background.png");
    border-radius: 5px;
    padding-top: 10px;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: brown;
}

#page {
    margin-top: 15px;
}
#error {
    color: red;
    font-size: 10px;
    text-align: left;
}
.hidden {
    display: none;
}

.column {
    background-color: burlywood;
}

.button {
    margin-top: 5px;
    font-weight: 700;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
}

.is-one-third {
    justify-content: center;
}

.result {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    color: var(--resultText);
    box-shadow: 10px 5px 5px black;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
}

.result>* {
    background-color: transparent;
}

.result-TU-inactive {
    filter: grayscale(100%);
}

.result-TD-inactive {
    filter: grayscale(100%);
}

.result-TU-active {
    filter: hue-rotate(90deg);
}

.result-TD-active {
    filter: hue-rotate(270deg);
}

.result1 {
    background-color: var(--result1bg);
}

.result2 {
    background-color: var(--result2bg);
}

.result3 {
    background-color: var(--result3bg);
}

.result4 {
    background-color: var(--result4bg);
}

.result5 {
    background-color: var(--result5bg);
}

.result1:hover {
    background-color: var(--resultText);
    color: var(--result1bg);
}

.result2:hover {
    background-color: var(--resultText);
    color: var(--result2bg);
}

.result3:hover {
    background-color: var(--resultText);
    color: var(--result3bg);
}

.result4:hover {
    background-color: var(--resultText);
    color: var(--result4bg);
}

.result5:hover {
    background-color: var(--resultText);
    color: var(--result5bg);
}

#local {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
    font-weight: bolder;
    color: brown;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 100%;
    border-radius: 5px;
}

#submit {
    color: #104911;
}

#theSquad {
    padding-top: 10px;
    color: white;
}